.head{
    height: 100px;
}

.left{
    width: 15%;
    margin: 0;
    float: left;
    
}
.left ul{
    padding: 0px;
}
.left li{
    
    list-style-type: none;
    font-size: 34px;
    text-align: center;
}
.left a{
    display: block;
}

.pageContent{
    float: left;
    width: 45%;
    height: 400px;
   background-color: bisque;
}
.right{
    float: right;
    width: 25%;
    height: 400px;
    background-color: antiquewhite;
}

    
    

.left a:hover{
    background-color: grey;
    color: white;
}
